@charset "UTF-8";


body{ 
    background-image:linear-gradient(to right, #A6634B 50%, #D9A38F );
}

main {
    background-color: white;
    width: 70%;
    padding: 3%;
    margin: auto;
    border-radius: 2%;
    box-shadow: 5px 5px 5px #73412F;
}

h1 {
    font: icon  bolder 'Gemunu Libre', sans-serif;
    text-align: center;
    color: #59022B;
    text-shadow: 1px 1px 0px #BF1F77;
}

h2{
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    color: #BF1F77;
    text-shadow: 1px 1px 0px #59022B;
}

p {
    text-align: justify;
    font: lighter 1em 'Gemunu Libre', sans-serif caption;
}